<template>
  <div class="home">
    <DonateForm
      :presets="presets"
      :currencies="currencies"
      :amount="200"
      currency-code="USD"
      :on-submit="donate"
    />
  </div>
</template>

<script>
import DonateForm from '@/components/DonateForm.vue';
import currencies from '@/lib/currencies.json';

export default {
  name: 'home',
  components: {
    DonateForm,
  },
  data() {
    return {
      presets: [40, 100, 200, 1000, 2500, 5000],
      currencies,
    };
  },
  methods: {
    async donate(amount, currency) {
      await this.$store.dispatch('donate/sendDonate', { amount, currency });
      alert('Thank you for your donation!');
    },
  },
};
</script>
