<template>
  <form
    v-on:submit.prevent="onFormSubmit"
    class="donate-form"
  >
    <div class="presets">
      <button
        v-for="(preset) in presetsByCurrency[currentCurrencyCode]"
        v-on:click.prevent="onPresetSelect(preset)"
        :class="{ active: preset === suggestion }"
        :key="preset"
        class="suggestion"
        type="button"
      >
        {{ getPresetLabel(preset) }}
      </button>
    </div>

    <input
      v-model.number="suggestion"
      type="number"
      min="1"
      step="1"
    />

    <select v-model="currentCurrencyCode">
      <option
        v-for="currency in currencies"
        :value="currency.code"
        :key="currency.code"
      >
        {{ currency.code }} | {{ currency.name }}
      </option>
    </select>
    <button type="submit">
      Donate
    </button>
  </form>
</template>

<script>
export default {
  name: 'DonateForm',
  props: {
    presets: {
      type: Array,
      required: false,
      default: () => ([]),
      validator(presets) {
        for (let i = 0; i < presets.length; i += 1) {
          const preset = presets[i];

          if (typeof preset !== 'number' || isNaN(preset) || preset < 1) {
            return false;
          }
        }

        return true;
      },
    },
    currencies: {
      type: Array,
      required: false,
      default: () => ([{ code: 'USD', rate: 1 }]),
      validator(currencies) {
        for (let i = 0; i < currencies.length; i += 1) {
          const currency = currencies[i];

          if (!currency.code || !currency.rate || currency.rate <= 0) {
            return false;
          }
        }

        return true;
      },
    },
    amount: {
      type: Number,
      required: false,
      default: 0,
      validator(amount) {
        return typeof amount === 'number' && isNaN(amount) === false;
      },
    },
    currencyCode: {
      type: String,
      required: false,
    },
    onSubmit: {
      type: Function,
    },
  },
  data() {
    return {
      suggestion: 0,
      currentCurrencyCode: '',
    };
  },
  computed: {
    currenciesByCode() {
      const currencies = {};

      for (let i = 0; i < this.currencies.length; i += 1) {
        currencies[this.currencies[i].code] = this.currencies[i];
      }

      return currencies;
    },
    presetsByCurrency() {
      const presets = {};

      for (let i = 0; i < this.currencies.length; i += 1) {
        const currency = this.currencies[i];

        presets[currency.code] = this.presets.map(
          (value) => this.roundBeautiful(
            Math.round(this.convertSum(value, currency.rate)),
          ),
        );
      }

      return presets;
    },
  },
  created() {
    this.setDefaults();
  },
  watch: {
    currentCurrencyCode(currentCurrencyCode, previousCurrencyCode) {
      if (previousCurrencyCode) {
        this.updateSuggestionByCurrencyCodes(currentCurrencyCode, previousCurrencyCode);
      }
    },
  },
  methods: {
    setDefaults() {
      this.currentCurrencyCode = this.currencyCode || this.currencies[0].code || this.currentCurrencyCode;
      this.suggestion = this.amount; // || this.presets[0] || this.suggestion;
    },
    onPresetSelect(preset) {
      this.suggestion = preset;
    },
    convertSum(value, toMultiplier, fromMultiplier = 1) {
      return value / fromMultiplier * toMultiplier;
    },
    roundBeautiful(value) {
      const divider = 10 ** (value.toString().length - 1) / 2;

      return value - value % divider;
    },
    updateSuggestionByCurrencyCodes(currentCurrencyCode, previousCurrencyCode) {
      const previousPresetIndex = this.presetsByCurrency[previousCurrencyCode].indexOf(this.suggestion);
      const isSuggestionWasInPreset = previousPresetIndex !== -1;

      if (isSuggestionWasInPreset) {
        this.suggestion = this.presetsByCurrency[this.currentCurrencyCode][previousPresetIndex];
      } else {
        this.suggestion = Math.round(
          this.convertSum(
            this.suggestion,
            this.currenciesByCode[currentCurrencyCode].rate,
            this.currenciesByCode[previousCurrencyCode].rate,
          ),
        );
      }
    },
    getPresetLabel(preset) {
      return preset.toLocaleString(
        'en-US',
        {
          style: 'currency',
          currency: this.currentCurrencyCode,
          maximumFractionDigits: 0,
        },
      );
    },
    onFormSubmit() {
      if (this.onSubmit) {
        this.onSubmit(this.suggestion, this.currentCurrencyCode);
      }
    },
  },
};
</script>

<style scoped>
  .suggestion.active {
    font-weight: bold;
  }
</style>
